/* Estilos para el encabezado y la navegación */
*{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*BARRA DE NAVEGACION*/
header {
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid rgb(198, 198, 198);
  }
  header:hover{
    border: 1px solid gold;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
  }


  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
  }




  /*PRODUCTOS*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-top: 10px;

}

.producto {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}


  .producto:hover{
    border: 1px solid #000000;
  } 
  
  .buton{
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .buton:hover{
    background-color: rgb(238, 55, 55)

  }
  

  /*CARRITO*/
  .carrito {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .producto-en-carrito {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boton {
    background-color: #000000;
    color: #fff; 
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    padding: 8px;
    width: 500px;
  }
  

  .boton1 {
    background-color: #000000;
    color: #fff; 
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    padding: 10px;  
    font-size: 18px;
  }
  
  .boton:hover {
    background-color: rgb(238, 55, 55); 
  }
    
  .boton1:hover {
    background-color: rgb(238, 55, 55); 
  }

#eliminar{
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  padding: 10px;
}

#eliminar:hover{
  background-color: rgb(238, 55, 55); 
}


#total{
  color: rgb(0, 0, 0);
  font-size: 20px;
}


/*CARRUSEL*/
  .slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.mySlides {
  display: none;
  padding-left: 30px;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.slide{
  padding-left: 65px;
}




